---

import BentoCard from "@components/BentoCard";
import SayHelloBentoCard from "@components/SayHelloBentoCard.astro";
import SpotifyBentoCard from "@components/SpotifyBentoCard";
import GithubProfileBentoCard from "./GithubProfileBentoCard.astro";
import BentoTimeCard from "@components/BentoTimeCard";
import { starbucks, stockx, reactBasicsCommands, theSimpsons, twitter} from "@lib/projects";
import BentoProjectCard from "@components/BentoProjectCard.astro";
import BentoStackCard from "./BentoStackCard.astro";
import BentoPosterCard from "./BentoPosterCard.astro";
import LetterboxdBentoCard from "@components/LetterboxdBentoCard.astro";

---

<div class="border lg:max-w-6xl lg:m-auto grid place-content-center grid-cols-[repeat(1,268px)] grid-rows-[repeat(20,268px)] md:grid-cols-[repeat(2,268px)] md:grid-rows-[repeat(12,268px)] lg:grid-cols-[repeat(3,268px)]  lg:grid-rows-[repeat(999,268px)] xl:grid-cols-[repeat(4,268px)]  xl:grid-rows-[repeat(6,268px)] gap-4 py-12">
    <GithubProfileBentoCard />

    <SpotifyBentoCard client:load />

    <BentoTimeCard client:load />

    <BentoProjectCard class="row-span-2" project={stockx} />    

    <BentoStackCard class="lg:col-span-2 xl:row-span-2 xl:col-span-1" />
   
    <BentoPosterCard src="images/shape-1.svg" class="lg:col-span-2" position="top-0"  />
 
    <BentoProjectCard project={starbucks} />

    <BentoCard className="row-span-1 col-span-1" >
        <div class="grid place-items-center h-full ">
            <h1 class="font-bold text-4xl">obsessive</h1>
            <h1 class="font-bold text-4xl">obsessive</h1>
            <h1 class="font-bold text-4xl">obsessive</h1>
            <h1 class="font-bold text-4xl">obsessive</h1>
            <h1 class="font-bold text-4xl">obsessive</h1>
        </div>
    </BentoCard>

    <BentoCard className="row-span-1 col-span-1" >
        <picture class="grid place-items-center h-full">
            <img src="images/spain-flag.svg" alt="" class="size-48">
        </picture>
    </BentoCard>

    <SayHelloBentoCard  />
    
    <BentoPosterCard src="images/tyson-walpaper.webp" class="lg:col-span-2 xl:row-span-2 xl:col-span-1" position="lg:object-center object-top" />

    <BentoProjectCard class="hidden md:col-span-2 md:block" project={reactBasicsCommands} /> 

    <BentoProjectCard project={theSimpsons} />

    <BentoProjectCard project={twitter}  />

    <LetterboxdBentoCard />

<!-- 
    <BentoCard className="col-span-2">
        <p class="text-5xl">Esta página ha sido creada usando <span class="font-bold uppercase">Astro</span>, <span class="font-bold uppercase">React</span> y <span class="font-bold uppercase">Tailwind CSS</span>.</p>

    </BentoCard> -->

    <BentoCard className="md:col-span-2 lg:hidden xl:block">
    <h1>1</h1>
    </BentoCard>

    <BentoCard >
        <div class="grid place-items-center h-full">
           <span class="font-bold text-5xl"> {new Date().getFullYear()} &COPY;</span>
        </div>
    </BentoCard>
    
    <BentoCard className="md:col-span-1 lg:col-span-2 xl:col-span-1 ">
        <img src="images/noise-2.webp" alt="noise" class="absolute inset-0 w-full h-full">
        <p class="relative lg:text-3xl xl:text-base ">Loosely designed in <span class="font-bold lg:text-3xl xl:text-base">Figma</span> and coded in <span class="font-bold lg:text-3xl  xl:text-base">Visual Studio Code</span> by yours truly. Built with <span class="font-bold lg:text-3xl  xl:text-base">Next.js</span> and <span class="font-bold lg:text-3xl  xl:text-base">Tailwind CSS</span>, deployed with <span class="font-bold lg:text-3xl  xl:text-base">Vercel</span>. All text is set in the <span class="font-bold lg:text-3xl  xl:text-base">Inter</span> typeface.</p>
    </BentoCard>
    
</div>

