---
import BentoCard from "@components/BentoCard"
import Redirect from "@icons/Redirect"
import type { Project } from "src/types"

interface Props {
    class?: string
    project: Project
}

const {class: className, project } = Astro.props

const {
    name,
    madeWith,
    href,
    src
} = project

---

<BentoCard className={`group ${className}`}>
    <a 
        href={href}
        rel="noopener noreferrer"
        target="_blank"
        title={name}
    >
        <picture class="absolute left-0 top-0 w-full h-full object-contain transition-transform duration-300 group-hover:scale-110">
            <img 
                src={src} 
                alt={`project-${name}`} 
                class="w-full h-full object-cover"
            >
        </picture>
        <h1 class="relative text-xl">{name}</h1> 
        <p class="text-secondary text-xs mt-[-2px] relative">{madeWith}</p> 
        <Redirect className="absolute top-6 right-8 size-5 stroke-white transition-transform duration-200 transform group-hover:translate-x-1 group-hover:-translate-y-1" />
    </a>
</BentoCard>