---
import BentoCard from "@components/BentoCard";
import type { Project } from "src/types";

interface Props {
    class?: string
    project: Project
}

const {class: className, project } = Astro.props

const {
    name,
    madeWith,
    href,
    src
} = project

---

<BentoCard className={`group ${className}`} redirect >
    <a 
        href={href}
        rel="noopener noreferrer"
        target="_blank"
    >
        <picture class="absolute left-0 top-0 w-full h-full object-contain transition-transform duration-300 group-hover:scale-110">
            <img 
                src={src} 
                alt={`project-${name}`} 
                class="w-full h-full object-cover"
            >
        </picture>
        <!-- <div class="absolute left-0 top-0 w-full h-full object-contain bg-transparent backdrop-blur-[0.5px] group-hover:backdrop-blur-none"></div>  -->
        <h1 class="relative text-xl" >{name}</h1> 
        <p class="text-secondary text-xs mt-[-2px] relative">{madeWith}</p> 
    </a>
</BentoCard>