---
import BentoCard from "@components/BentoCard.astro";


const experienceContent = {
    bold: "Designluch -",
    title: "Product Designer and noCode Developer",
    subtitle: "Journaling",
    experiences: [
        {
            date: "25 Jan:",
            content: "Started a new mobile design project."
        },
        {
            date: "24 Jan:",
            content: "Received a certification in advanced UX design techniques."
        },
        {
            date: "23 Jan:",
            content: "Completed a user research phase for an ongoing web design project."
        },
    ],
    backgroundUrl: "/images/experience-background.png"
}

---

<BentoCard backgroundUrl={experienceContent.backgroundUrl} class="row-span-2 col-span-2">
    <h1 class="py-8 text-3xl border-b border-white">
        <span class="font-semibold">
            {experienceContent.bold}
        </span>
        {experienceContent.title}
    </h1>
    <h3 class="py-8">{experienceContent.subtitle}</h3>

    <div class="flex flex-col gap-y-8">
        {experienceContent.experiences.map((experience) => (
            <div class="flex gap-x-4 text-2xl font-medium">
                <p class="text-secondary whitespace-nowrap">{experience.date}</p>
                <p>{experience.content}</p>
            </div>
        ))}
    </div>
</BentoCard>

