---

import BentoCard from "@components/BentoCard";
import SayHelloBentoCard from "@components/SayHelloBentoCard.astro";
import SpotifyBentoCard from "@components/SpotifyBentoCard";
import GithubProfileBentoCard from "./GithubProfileBentoCard.astro";
import BentoTimeCard from "@components/BentoTimeCard";
import { starbucks, stockx, reactBasicsCommands, theSimpsons, twitter} from "@lib/projects";
import BentoProjectCard from "@components/BentoProjectCard.astro";
import BentoStackCard from "./BentoStackCard.astro";
import BentoPosterCard from "./BentoPosterCard.astro";

---

<div class="grid grid-cols-2 lg:grid-cols-4 grid-rows-7 gap-4 py-12">
    <GithubProfileBentoCard />

    <SpotifyBentoCard client:load />

    <BentoTimeCard client:load />

    <BentoProjectCard class="row-span-2" project={stockx} />    

    <BentoStackCard class="row-span-2" />
   
    <BentoPosterCard src="images/shape-1.svg" class="col-span-2" position="top-0"  />
 
    <BentoProjectCard project={starbucks} />

    <BentoCard className="row-span-1 col-span-1" >
        <div class="grid place-items-center h-full ">
            <h1 class="font-black text-4xl">obsessive</h1>
            <h1 class="font-black text-4xl">obsessive</h1>
            <h1 class="font-black text-4xl">obsessive</h1>
            <h1 class="font-black text-4xl">obsessive</h1>
            <h1 class="font-black text-4xl">obsessive</h1>
        </div>
    </BentoCard>

    <BentoCard className="row-span-1 col-span-1" >
        <picture class="grid place-items-center h-full">
            <img src="images/spain-flag.svg" alt="" class="size-48">
        </picture>
    </BentoCard>

    <SayHelloBentoCard  />
    
    <BentoPosterCard src="images/tyson-walpaper.webp" class="row-span-2" position="object-top" />

    <BentoProjectCard class="col-span-2" project={reactBasicsCommands} /> 

    <BentoProjectCard project={theSimpsons} />

    <BentoProjectCard project={twitter}  />

<!-- 
    <BentoCard className="col-span-2">
        <p class="text-5xl">Esta página ha sido creada usando <span class="font-bold uppercase">Astro</span>, <span class="font-bold uppercase">React</span> y <span class="font-bold uppercase">Tailwind CSS</span>.</p>

    </BentoCard> -->
    
</div>

