---
import { getGithubUser } from "@lib/getGithubUser"
import BentoCard from "@components/BentoCard"
import Button from "@components/ui/Button.astro"

const githubUser = await getGithubUser();

const {
    avatar_url,
    name,
    login,
    html_url
} = githubUser

---

<BentoCard className="row-span-1 col-span-1">
    <div class="flex flex-col gap-y-3">
        <div class="flex items-center justify-between">
            <div class="flex items-center gap-x-2">
                <picture>
                    <img 
                        src={avatar_url}
                        alt={name}
                        class="size-12 rounded-full"
                    >   
                </picture>
                <div class="flex flex-col justify-start">
                    <h1 class="text-2xl">{name}</h1>
                    <p class="text-secondary text-sm mt-[-4px]">{login}</p>
                </div>
            </div>
        </div>

        <p class="text-lg font-light w-[105%] mr-2" >
             <span class="font-bold">2 years</span> developing apps.
             Today I expand my <span class="font-bold">knowledge.</span> 
             My <span class="font-bold"> goal</span>, to live from this.
        </p>
        
        <Button href={html_url} social="GitHub"  />
    </div>
</BentoCard>


